.calc {
    margin: 50px;
    width: 400px;
    height: 500px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.13);

    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 10px;
}

.calc button {
    width: 130px;
    height: 40px;
}

.calc .result {
    width: 100%;
    font-size: 30px;
}